{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
     <div class="col-12">
    <button class="btn btn-outline-light w-100 py-3">{{ button_label|default('Book now') }}</button>
    </div>
{{ form_end(form) }}
